<<<<<<< feat/caracters
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Couleur de fond du jeu */
}
=======
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  border: 1px solid black;
  background-color: black;
}
>>>>>>> develop
